<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5147726417641815 0.31234294849850697 0.5666531109150288" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5147726417641815 0.31234294849850697 0.5666531109150288" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.2833265554575144" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="1">
        <inertial>
            <origin xyz="0.0 -0.0 0.1602515506361351" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.0 0.1602515506361351" rpy="0 0 0"/>
            <geometry>
                <box size="0.343285629271628 -6.576258328152502e-05 0.3205031012722702" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.0 0.1602515506361351" rpy="0 0 0"/>
            <geometry>
                <box size="0.343285629271628 -6.576258328152502e-05 0.3205031012722702" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.171642814635814 -0.0 0.1602515506361351" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="3.701398340582577e-05 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="3.701398340582577e-05 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="-7.402796681165154e-05 0.4672343755853351 -0.002971312299189102" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="3.701398340582577e-05 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="-7.402796681165154e-05 0.4672343755853351 -0.002971312299189102" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="3.701398340582577e-05 -0.23361718779266755 -0.0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0.0 -0.24310499282648426 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.24310499282648426 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3288811959861877 0.4862099856529685 0.4642651201850984" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.24310499282648426 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3288811959861877 0.4862099856529685 0.4642651201850984" />
            </geometry>
        </collision>
    </link>
</robot>