<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5962843979078902 0.06632843954070798 0.5994735835121696" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5962843979078902 0.06632843954070798 0.5994735835121696" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.2997367917560848" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="1">
        <inertial>
            <origin xyz="0.0 0.0 0.11674638795888073" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.11674638795888073" rpy="0 0 0"/>
            <geometry>
                <box size="0.4198933009514612 0.5880814536348862 0.23349277591776146" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.11674638795888073" rpy="0 0 0"/>
            <geometry>
                <box size="0.4198933009514612 0.5880814536348862 0.23349277591776146" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.0 0.2940407268174431 0.11674638795888073" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0.0 0.0022969218310850354 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0022969218310850354 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.0013506250477713978 0.004593843662170071 -0.0020035552321042063" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0022969218310850354 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.0013506250477713978 0.004593843662170071 -0.0020035552321042063" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint1_5" type="revolute">
       <parent link="1"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0.0 -0.2940407268174431 0.11674638795888073" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0.0 -0.2283863674708757 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.2283863674708757 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6043285880942477 0.4567727349417514 0.4256386739542021" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.2283863674708757 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6043285880942477 0.4567727349417514 0.4256386739542021" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0.0 0.004593843662170071 -0.0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0.0 0.2668372985635147 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.2668372985635147 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3760349073357452 0.5336745971270294 0.17659452602967365" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.2668372985635147 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3760349073357452 0.5336745971270294 0.17659452602967365" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint5_7" type="revolute">
       <parent link="5"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0.0 -0.2283863674708757 0.21281933697710104" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0.0 0.0 0.23128266995932054" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.23128266995932054" rpy="0 0 0"/>
            <geometry>
                <box size="0.30273608747724423 0.32867487618898616 0.46256533991864107" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.23128266995932054" rpy="0 0 0"/>
            <geometry>
                <box size="0.30273608747724423 0.32867487618898616 0.46256533991864107" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.0 0.5336745971270294 0.0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0.0 0.03548357337994064 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.03548357337994064 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.47482460827576645 0.07096714675988128 0.41831379042512484" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.03548357337994064 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.47482460827576645 0.07096714675988128 0.41831379042512484" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint3_6" type="revolute">
       <parent link="3"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="-0.1880174536678726 0.2668372985635147 0.0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="-0.0890424149914123 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.0890424149914123 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.1780848299828246 0.17068497953843165 0.16728845669168196" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.0890424149914123 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.1780848299828246 0.17068497953843165 0.16728845669168196" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint3_8" type="revolute">
       <parent link="3"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0.1880174536678726 0.2668372985635147 0.0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0.04461208733000953 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.04461208733000953 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.08922417466001906 0.3074526103509351 0.6117662640027641" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.04461208733000953 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.08922417466001906 0.3074526103509351 0.6117662640027641" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint7_9" type="revolute">
       <parent link="7"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0.15136804373862212 0.0 0.23128266995932054" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0.11634249925882738 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.11634249925882738 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.23268499851765476 0.21162929093078073 0.3018831185310126" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.11634249925882738 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.23268499851765476 0.21162929093078073 0.3018831185310126" />
            </geometry>
        </collision>
    </link>
</robot>