<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.19263523158947893 0.2908871403687492 0.17882416941167223" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.19263523158947893 0.2908871403687492 0.17882416941167223" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.08941208470583611" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="1">
        <inertial>
            <origin xyz="0.0 0.0 0.29240970164982516" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.29240970164982516" rpy="0 0 0"/>
            <geometry>
                <box size="0.6589098273157175 0.441038875893063 0.5848194032996503" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.29240970164982516" rpy="0 0 0"/>
            <geometry>
                <box size="0.6589098273157175 0.441038875893063 0.5848194032996503" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.32945491365785873 0.0 0.29240970164982516" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.04064047856280368 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.04064047856280368 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.08128095712560736 0.14902012947715784 0.21412914724314228" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.04064047856280368 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.08128095712560736 0.14902012947715784 0.21412914724314228" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint1_3" type="revolute">
       <parent link="1"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0.32945491365785873 0.0 0.29240970164982516" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0.20488445407386646 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.20488445407386646 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4097689081477329 0.4908789910660976 0.5442332279850455" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.20488445407386646 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4097689081477329 0.4908789910660976 0.5442332279850455" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint1_4" type="revolute">
       <parent link="1"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.0 0.2205194379465315 0.29240970164982516" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0.0 0.26941784133124747 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.26941784133124747 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5707899644886407 0.5388356826624949 0.45419073113168046" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.26941784133124747 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5707899644886407 0.5388356826624949 0.45419073113168046" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint1_5" type="revolute">
       <parent link="1"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.5848194032996503" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="-0.0 -0.0 0.003835608488314672" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.0 -0.0 0.003835608488314672" rpy="0 0 0"/>
            <geometry>
                <box size="-0.008873340275359163 -0.01548074473777312 0.007671216976629344" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.0 -0.0 0.003835608488314672" rpy="0 0 0"/>
            <geometry>
                <box size="-0.008873340275359163 -0.01548074473777312 0.007671216976629344" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint1_9" type="revolute">
       <parent link="1"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0.0 -0.2205194379465315 0.29240970164982516" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0.0 -0.07298734189863065 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.07298734189863065 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.41795342129514407 0.1459746837972613 0.061939260384995275" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.07298734189863065 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.41795342129514407 0.1459746837972613 0.061939260384995275" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint3_6" type="revolute">
       <parent link="3"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.4097689081477329 0.0 0.0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="-3.705644035715652e-05 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-3.705644035715652e-05 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="-7.411288071431304e-05 6.193813671294031e-05 -1.9589765967815442e-05" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-3.705644035715652e-05 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="-7.411288071431304e-05 6.193813671294031e-05 -1.9589765967815442e-05" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint4_7" type="revolute">
       <parent link="4"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0.28539498224432036 0.26941784133124747 0.0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0.22995334573669005 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.22995334573669005 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4599066914733801 0.40307809565608477 0.1895876304640855" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.22995334573669005 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4599066914733801 0.40307809565608477 0.1895876304640855" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint4_8" type="revolute">
       <parent link="4"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="-0.28539498224432036 0.26941784133124747 0.0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="-0.053561561895541135 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.053561561895541135 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.10712312379108227 0.1021976795258134 0.27555198889274213" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.053561561895541135 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.10712312379108227 0.1021976795258134 0.27555198889274213" />
            </geometry>
        </collision>
    </link>
</robot>