<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="-0.019912867810943057 -0.003003152259968949 0.010144450907720148" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="-0.019912867810943057 -0.003003152259968949 0.010144450907720148" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.0 -0.0 0.005072225453860074" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="1">
        <inertial>
            <origin xyz="0.0 0.0 0.004349114184385349" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.004349114184385349" rpy="0 0 0"/>
            <geometry>
                <box size="0.0036899268018527136 0.0038975605843356393 0.008698228368770699" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.004349114184385349" rpy="0 0 0"/>
            <geometry>
                <box size="0.0036899268018527136 0.0038975605843356393 0.008698228368770699" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.0018449634009263568 0.0 0.004349114184385349" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0.000976531517827843 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.000976531517827843 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.001953063035655686 0.0057276379713404576 -0.0005435034542416959" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.000976531517827843 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.001953063035655686 0.0057276379713404576 -0.0005435034542416959" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint1_4" type="revolute">
       <parent link="1"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.0 -0.0019487802921678197 0.004349114184385349" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0.0 4.123639708922226e-06 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 4.123639708922226e-06 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.00012655313083713375 -8.247279417844452e-06 1.3570871684491798e-05" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 4.123639708922226e-06 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.00012655313083713375 -8.247279417844452e-06 1.3570871684491798e-05" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0.000976531517827843 0.0028638189856702288 -0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0.0 0.00094312140252006 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.00094312140252006 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.007748571737265832 0.00188624280504012 0.0052041855130467865" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.00094312140252006 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.007748571737265832 0.00188624280504012 0.0052041855130467865" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint2_8" type="revolute">
       <parent link="2"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0.001953063035655686 0.0 -0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0.3187890266883675 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3187890266883675 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.637578053376735 0.274687618767292 0.5608488477711255" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3187890266883675 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.637578053376735 0.274687618767292 0.5608488477711255" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint4_6" type="revolute">
       <parent link="4"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.0 8.247279417844452e-06 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0.0 -0.31926866322655445 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.31926866322655445 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.19847177514885259 0.6385373264531089 0.3518521306200392" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.31926866322655445 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.19847177514885259 0.6385373264531089 0.3518521306200392" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint4_7" type="revolute">
       <parent link="4"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="-6.327656541856687e-05 4.123639708922226e-06 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="-0.32919013990530643 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.32919013990530643 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6583802798106129 0.08784304728938988 0.17277498260682012" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.32919013990530643 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6583802798106129 0.08784304728938988 0.17277498260682012" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint3_5" type="revolute">
       <parent link="3"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0.0 0.00094312140252006 -0.0026020927565233933" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0.0 0.0 -0.05797252930222231" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.05797252930222231" rpy="0 0 0"/>
            <geometry>
                <box size="0.4213209850176221 0.49930763597848415 0.11594505860444462" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.05797252930222231" rpy="0 0 0"/>
            <geometry>
                <box size="0.4213209850176221 0.49930763597848415 0.11594505860444462" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint3_13" type="revolute">
       <parent link="3"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0.0 0.00094312140252006 0.0026020927565233933" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0.0 0.0 0.1790506558688204" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.1790506558688204" rpy="0 0 0"/>
            <geometry>
                <box size="0.22069288347067992 0.5309458798801718 0.3581013117376408" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.1790506558688204" rpy="0 0 0"/>
            <geometry>
                <box size="0.22069288347067992 0.5309458798801718 0.3581013117376408" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0.3187890266883675 -0.137343809383646 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0.0 -0.05451632318620663 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.05451632318620663 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.11004149540329067 0.10903264637241326 0.20662349608622796" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.05451632318620663 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.11004149540329067 0.10903264637241326 0.20662349608622796" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint8_12" type="revolute">
       <parent link="8"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0.637578053376735 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0.16404539053114242 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.16404539053114242 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.32809078106228484 0.5709458609418969 0.36268088475380256" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.16404539053114242 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.32809078106228484 0.5709458609418969 0.36268088475380256" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint8_14" type="revolute">
       <parent link="8"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0.3187890266883675 0.137343809383646 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0.0 0.05883098442019162 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.05883098442019162 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.51915485301931 0.11766196884038324 0.07755067159729384" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.05883098442019162 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.51915485301931 0.11766196884038324 0.07755067159729384" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint6_10" type="revolute">
       <parent link="6"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0.09923588757442629 -0.31926866322655445 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0.042576364276924246 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.042576364276924246 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.08515272855384849 0.26008924605045275 0.28990493128488326" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.042576364276924246 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.08515272855384849 0.26008924605045275 0.28990493128488326" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint7_11" type="revolute">
       <parent link="7"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="-0.32919013990530643 0.04392152364469494 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0.0 0.3274306849583629 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.3274306849583629 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.09843511811222852 0.6548613699167258 0.5162330867146326" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.3274306849583629 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.09843511811222852 0.6548613699167258 0.5162330867146326" />
            </geometry>
        </collision>
    </link>
</robot>