<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.0774102221956284" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.0774102221956284" rpy="0 0 0"/>
            <geometry>
                <box size="0.6364888641375821 0.2673231155287903 0.12426664436457398" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.0774102221956284" rpy="0 0 0"/>
            <geometry>
                <box size="0.6364888641375821 0.2673231155287903 0.12426664436457398" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint_One_0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.31824443206879105 0.0 0.0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Joint_Two_0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.31824443206879105 0.0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="1">
        <inertial>
            <origin xyz="0.06320925034752178 0.0 0.0774102221956284" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.06320925034752178 0.0 0.0774102221956284" rpy="0 0 0"/>
            <geometry>
                <box size="0.12641850069504357 0.06058086531835977 0.1548204443912568" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.06320925034752178 0.0 0.0774102221956284" rpy="0 0 0"/>
            <geometry>
                <box size="0.12641850069504357 0.06058086531835977 0.1548204443912568" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint_One_0_2" type="revolute">
       <parent link="0"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.31824443206879105 0.0 0.0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Joint_Two_0_2" type="revolute">
       <parent link="0"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.31824443206879105 0.0 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.14316725996164048 0.0 0.0774102221956284" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.14316725996164048 0.0 0.0774102221956284" rpy="0 0 0"/>
            <geometry>
                <box size="0.28633451992328096 0.3117070361049873 0.07226050965242498" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.14316725996164048 0.0 0.0774102221956284" rpy="0 0 0"/>
            <geometry>
                <box size="0.28633451992328096 0.3117070361049873 0.07226050965242498" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint_One_1_4" type="revolute">
       <parent link="1"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.06320925034752178 0.0 0.0774102221956284" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Joint_Two_1_4" type="revolute">
       <parent link="1"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.06320925034752178 0.0 0.0774102221956284" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0.0 0.0 0.30413672575073725" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.30413672575073725" rpy="0 0 0"/>
            <geometry>
                <box size="0.09806985839475874 0.19543693086149871 0.45345300711021763" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.30413672575073725" rpy="0 0 0"/>
            <geometry>
                <box size="0.09806985839475874 0.19543693086149871 0.45345300711021763" />
            </geometry>
        </collision>
    </link>
    <joint name="Joint_One_2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.14316725996164048 0.0 0.03613025482621249" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Joint_Two_2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.14316725996164048 0.0 0.03613025482621249" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0.0 0.0 0.2877758228189653" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.2877758228189653" rpy="0 0 0"/>
            <geometry>
                <box size="0.2104837372075032 0.45951438652512483 0.42073120124667385" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.2877758228189653" rpy="0 0 0"/>
            <geometry>
                <box size="0.2104837372075032 0.45951438652512483 0.42073120124667385" />
            </geometry>
        </collision>
    </link>
</robot>